/*!
Theme Name: woocommerceCustomTheme
Theme URI: #
Author: Armine
Author URI: #
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: woocommercecustomtheme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

woocommerceCustomTheme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/


*{
	margin: 0;
	padding: 0;

}
body{
	height: 100%;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
dl, ol, ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
.hide{
	display: none;
	transition: display 2s;
}
.site-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}
p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
}
img{
	max-width: 100%;
    height: auto;
}
/*---------- header section -----------*/

.header_top {
    background: #f5f5f5;
}
.header_top_left {
    padding: 10px 0 13px;
}
.header_top_left ul li {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}
.header_top_left ul li:after {
    position: absolute;
    right: -25px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right {
    text-align: right;
    padding: 10px 0 13px;
}
.header_top_right_social {
    position: relative;
    display: inline-block;
    margin-right: 35px;
}
.header_top_right_social a {
    font-size: 14px;
    display: inline-block;
     color: #1c1c1c;
    margin-right: 20px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.header_top_right_social:after {
    position: absolute;
    right: -20px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right_language {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.header_top_right_language div {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 4px;
    float: left;
}
.header_top_right_language ul {
	opacity: 0;
	visibility: hidden;
    background: #222222;
    width: 100px;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 0;
    z-index: 9;
    transition: all, 0.3s;
}
.header_top_right_language:hover .header_top_right_langs{
	opacity: 1;
	visibility: visible;
}
.header_top_right_language ul li {
    list-style: none;
}
.header_top_right_language ul li a {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;

}
.header_top_right_language:after {
    position: absolute;
    right: -21px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right_language img{
    max-width: 32% !important;
    float: right;
}
.header_top_right_auth {
    display: inline-block;
}
.header_top_right_auth a {
    display: block;
    font-size: 14px;
    color: #1c1c1c;
    text-decoration: none;
    background-color: transparent;
}
.header_top_right_auth a i {
    margin-right: 6px;
}
.header_logo {
    padding: 15px 0;
}
.header_menu {
    padding: 24px 0;
}

.header_menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header_menu ul li:hover .nav-link {
    color: #7fad39 !important;
}
.header_menu ul li.active a {
    color: #7fad39 !important;
}
.header_menu a {
    font-size: 14px;
    color: #252525 !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
}
.header_menu .dropdown-menu{
	position: absolute;
    left: 0;
    background: #222222;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    transition: all, 0.3s;

}
.header_menu .dropdown-item{
	text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}
.header_menu .dropdown-item:hover{
	color: #7fad39;
	background: #222222;
}

.header_menu .dropdown-item a{
    text-transform: capitalize;
    color: #ffffff !important;
    font-weight: 400;
    padding: 5px 15px;
}
.header_menu .dropdown-item a:hover{
	color: #7fad39 !important;
}
.header_menu .dropdown:hover .header_menu .dropdown-menu{
    display:block;
}
/*.dropdown-toggle::after {
	border: none;
}*/
.header_cart {
    text-align: right;
    padding: 24px 0;
}
.header_cart ul {
    display: inline-block;
    margin-right: 25px;
}
.header_cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.header_cart ul li a {
    position: relative;
}
.header_cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
}
.header_cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
}
.header_cart .header_cart_price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
}
.header_cart .header_cart_price span {
    color: #252525;
    font-weight: 700;
}
/*-------- end header section ---------*/


/*---------- hero section -----------*/

.hero {
    padding-bottom: 50px;
}
.hero_categories_all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}


.hero_categories_all i {
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}
.hero_categories_all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.hero_categories_all i.fa-angle-down {
    position: absolute;
    right: 18px;
    top: 14px;
    content: "";
    font-size: 18px;
    color: #ffffff;
}
.hero_categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
}
.hero_categories ul li {
    list-style: none;
}
.hero_categories ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}
.hero_categories ul li a:hover, .hero_categories ul li a:focus {
    text-decoration: none;
    outline: none;
}

.hero_search {
    overflow: hidden;
    margin-bottom: 30px;
}
.hero_search_form {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
}
.hero_search_form form{
	display: block;
    margin-top: 0;
}
.hero_search_form form .hero_search_categories {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    padding-left: 18px;
    padding-top: 11px;
    position: relative;
}
.hero_search_form form .hero_search_categories span {
    position: absolute;
    right: 14px;
    top: 14px;
}

.hero_search_form form .hero_search_categories:after {
    position: absolute;
    right: 0;
    top: 14px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.hero_search_form form input {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}
.hero_search_form form .search-btn {
	width: 20%;
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
    color: #fff;
}
.hero_search_phone {
    float: right;
}
.hero_search_phone_icon {
    font-size: 18px;
    color: #7fad39;
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.hero_search_phone_text {
    overflow: hidden;
}
.hero_search_phone_text h5 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
.hero_search_phone_text span {
    font-size: 14px;
    color: #6f6f6f;
}
.hero_item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    background-image: url('./assets/img/banner.jpg');
}
.hero_text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}
.hero_text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}
/*-------- end hero section ---------*/

/*------- categories section --------*/
.categories_item {
	 position: relative;
background-repeat: no-   repeat;
background-position: top center;background-size: cover;
}
.categories_item h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}
.categories_item {
    height: 270px;
    position: relative;
}
.categories_item h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.categories_slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #1c1c1c;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
}
.categories_slider .owl-prev{
	 position: absolute;
    left: -35px;
    top: 40%;
    -webkit-transform: translateY(-35px);
}
.categories_slider .owl-next{
	position: absolute;
    right: -35px;
    top: 40%;
    -webkit-transform: translateY(-35px);
}

/*-----end categories section -------*/

/*--------featured  section --------*/

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}
.featured_controls {
    text-align: center;
    margin-bottom: 50px;
}
.featured_controls ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}
.featured_controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}
.featured_controls ul li.active:after {
    opacity: 1;
}
.featured_controls {
    text-align: center;
    margin-bottom: 50px;
}
.quick-sale{
	width: 100%;
}
.featured_item {
    margin-bottom: 50px;
}
.featured_item_pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}
.fresh-meat{
	background: url('../assets/img/feature-1.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featured_item_pic_hover {
	display: none;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    text-align: center;
    transition: all, 0.5s;
}
.featured_item_pic_hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}
.featured_item_pic_hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    text-decoration: none;
    transition: all, 0.5s;
}
.featured_item:hover .featured_item_pic_hover {
	display: block;
}
.featured_item_pic_hover li:hover  a{
    background: #7fad39;
    border-color: #7fad39;
}
.featured_item_pic_hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}
.featured_item_text {
    text-align: center;
    padding-top: 15px;
}
.featured_item_text h6 {
    margin-bottom: 10px;
}
.featured_item_text h6 a {
    color: #252525;
    text-decoration: none;
}
.featured_item_text h5 {
    color: #252525;
    font-weight: 700;
}
/*------end featured  section ------*/

/*-----latest-product  section -----*/

.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
}
.latest-product_text h4 {
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 45px;
}
.latest-product_item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
.latest-product_item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
.latest-product img {
    display: block;
    width: 110px !important;
}
.latest-product_item_text {
    overflow: hidden;
    padding-top: 10px;
}
.latest-product_item_text h6 {
    color: #252525;
    margin-bottom: 8px;
}
.latest-product_item_text span {
    font-size: 18px;
    display: block;
    color: #252525;
    font-weight: 700;
}
.latest-product_item_pic {
    float: left;
    margin-right: 26px;
}
.latest-prdouct_slider_item  a{
	text-decoration: none;
}
.latest-product{
	position: relative;
}
.latest-product .owl-nav {
	position: absolute;
    left: 350px;
    top: 80px;
}
.latest-product .owl-prev,
.latest-product .owl-next
{
	height: 30px;
    width: 30px;
    background: #F3F6FA;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #636363;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
}
/*---end latest-product  section ---*/


/*-------from-blog section ---------*/

.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}
.from-blog_title {
    margin-bottom: 70px;
}
.from-blog .blog_item {
    margin-bottom: 30px;
}
.blog_item_pic img {
    min-width: 100%;
}
.blog_item_text {
    padding-top: 25px;
}
.blog_item_text ul {
    margin-bottom: 15px;
}
.blog_item_text ul li {
    font-size: 16px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.blog_item_text h5 {
    margin-bottom: 12px;
}
.blog_item_text h5 a {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
}
.blog_item_text p {
    margin-bottom: 25px;
}
/*------end from-blog section ------*/


/*---------footer section ----------*/
.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer_about {
    margin-bottom: 30px;
}
.footer_about_logo {
    margin-bottom: 15px;
}
.footer_about_logo a {
    display: inline-block;
}
.footer_about ul li {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 36px;
    list-style: none;
}
.footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
}
.footer_widget h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer_widget ul {
    width: 50%;
    float: left;
}
.footer_widget ul li {
    list-style: none;
}
.footer_widget ul li a {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 32px;
}
.footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
}
.footer_widget h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer_widget p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}
.footer_widget form {
    position: relative;
    margin-bottom: 30px;
}
.footer_widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}
.footer_widget form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}
.footer_widget .footer_widget_social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    transition: all, 0.3s;
    margin-right: 10px;
}
.footer_widget .footer_widget_social a:hover {
    background: #7fad39;
    color: #ffffff;
    border-color: #ffffff;
}
.footer_copyright {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}
.footer_copyright_text {
    font-size: 14px;
    color: #1c1c1c;
    float: left;
    line-height: 25px;
}
.footer_copyright_payment {
    float: right;
}

/*------end footer section -------*/

.featured_item img{
	width: 100%;
	height: 270px;
}
.blog_item_text .blog_btn{
	display: inline-block;
    font-size: 14px;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #b2b2b2;
    padding: 14px 20px 12px;
    border-radius: 25px;
}
.widget #searchform{
	margin-bottom: 50px;
	position: relative;
}
.widget #searchform input{
    width: 100%;
    height: 46px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}
.widget #searchform button{
	font-size: 16px;
    color: #6f6f6f;
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0px 18px;
}
.widget #searchform button span{
	font-size: 18px;
}
.widget_categories{
	margin-bottom: 50px;
}
.widget_categories h2{
	color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}
.widget_categories ul li a{
	font-size: 16px;
    color: #666666;
    line-height: 48px;
    transition: all, 0.3s;
}
.widget_categories ul li a:hover{
	color: #7fad39;
}
.widget .widget_tag_cloud{
	margin-bottom: 50px;
}
.widget .widget_tag_cloud h2{
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}
.widget .tagcloud a{
	font-size: 16px !important;
    color: #6f6f6f;
    background: #f5f5f5;
    display: inline-block;
    padding: 7px 26px 5px;
    margin-right: 6px;
    margin-bottom: 10px;
}
.product_item:hover .product_item a .featured_item_pic_hover{
	display: block;
}

.product-details{
    margin-bottom: 80px;
}
.product-details .woocommerce .entry-summary h1{
    color: #252525;
    font-weight: 700;
    margin-bottom: 16px;
}
.product-details .star-rating span::before {
    color: #EDBB0E !important;
}
.product-details .woocommerce-review-link{
    position: absolute;
    color: #dd2222;
    margin-left: 4px;
    right: 30%;
    top: 62px;
    font-size: 14px;
    margin-bottom: 15px;
}
.product-details .price{
    margin-bottom: 15px;
}
.product-details .price span{
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin: 15px 0;
}
.product-details .woocommerce-product-details__short-description{
    margin-bottom: 45px;
}
.quantity .screen-reader-text{
    display: none;
}
.product-details .quantity, .cart{
    position: relative;
}
.product-details .quantity input, .plus, .minus{
    width: 50px;
    height: 50px;
    border: none;
    background: #e2dede;
    text-align: center;
}
.plus{
    position: absolute;
    left: 108px;
}
.product-details .single_add_to_cart_button{
    padding: 16px 28px 14px;
    margin-right: 6px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border:none;
    position: absolute;
    right: 190px;
    bottom: -6px;
}
.product-details .flex-control-nav.flex-control-thumbs li img{
    width: 150px !important;
}
.product-details .related{
    margin-bottom: 70px;
    text-align: center;
}
.product-details .related h2{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    margin-bottom: 35px;
}
.product-details .related h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto 10px;
}
.product-details .related ul.products li.product img {
    min-width: 100% !important;
    height: auto;
}
.product-details .related .woocommerce-loop-product__title{
    color: #111111;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
}
.related .products .product .woocommerce-loop-product__link .price .woocommerce-Price-amount,
.related .products .product .woocommerce-loop-product__link .price .woocommerce-Price-amount span, 
.related .products .product .woocommerce-loop-product__link .price del .woocommerce-Price-amount, 
.related .products .product .woocommerce-loop-product__link .price del .woocommerce-Price-amount span,
.related .products .product .woocommerce-loop-product__link .price ins .woocommerce-Price-amount, 
.related .products .product .woocommerce-loop-product__link .price ins .woocommerce-Price-amount span{
    color: #252525;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
}
.related .products .product .product_type_simple.add_to_cart_button{
    padding: 16px 20px 14px;
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border:none;
    display: block;
    min-width: 150px;
}
.widget-content.container{
    margin-bottom: 50px;
}
.widget-content.container h3{
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 24px;
}
.widget-content.container ul li a{
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}
.product__details__tab{
    padding-top: 85px;
    justify-content: center !important;
    position: relative;
    text-align: center !important;

}
.product__details__tab li {
    display: inline-block !important;
    max-width: 250px;
   margin-right: 65px !important;
   margin-top: 85px !important;
}
.product__details__tab li a{
    font-size: 16px;
    color: #999999;
    font-weight: 700;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}
.woocommerce-Tabs-panel h2{
    font-weight: 700;
    color: #333333;
    margin-bottom: 26px;
    font-size: 16px;
}
.product_item:hover .featured_item_pic_hover{
    display: block;
}

.woocommerce-LoopProduct-link img{
    width: 100%;
}
.woocommerce-loop-product__title{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
    color: #252525;
}
.products li{
    text-align: center;

}
.products .price .woocommerce-Price-amount, 
.products .price .woocommerce-Price-amount span{
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    color: #252525;
}
.add_to_cart_button{
    padding: 16px 20px 14px;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
}
.woocommerce-cart-form td.product-remove a{
    font-size: 14px;
    padding: 10px 20px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #ec0b0b;
    letter-spacing: 2px;
}
.woocommerce-cart-form td.product-thumbnail a img{
    width: 100%;
    height: auto;
}
.woocommerce-cart-form td.product-name a{
    color: #252525;
    font-size: 16px;
    margin: 0 10px;
}
.woocommerce-cart-form td.product-price span,
.woocommerce-cart-form td.product-price span span{
    font-size: 18px;
    font-weight: 700;
    color: #252525;
}
.woocommerce-cart-form td.product-quantity .quantity{
    position: relative;
    margin: 0 10px;
}
.woocommerce-cart-form td.product-quantity .quantity .input-text{
width: 50px;
height: 50px;
background: #e2dede;
text-align: center;
border:none;
margin-right: 60px;
}
.woocommerce-cart-form td.product-quantity .quantity .minus,
.woocommerce-cart-form td.product-quantity .quantity .plus{
    background: #7fad39;
    color: #fff;
}
.woocommerce-cart-form td.product-quantity .quantity .plus{

}
.cart-collaterals .cart_totals{
    margin: 65px auto;
    text-align: center;
}
.cart-collaterals .cart-total-title{
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
.cart-collaterals .cart-total-title:after{
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}
.cart-collaterals table th{
    width: 35%;
}
.cart-collaterals table td,
.cart-collaterals table td p{
    font-weight: 400;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    color: #252525;
}
.cart-collaterals .woocommerce-shipping-calculator{
    text-align: center;
}
.cart-collaterals .woocommerce-shipping-calculator section p button,
.cart-collaterals .woocommerce-shipping-calculator a,
.cart-collaterals .wc-proceed-to-checkout a{
   display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    margin-bottom: 15px;
    border: none;
}
.checkout h3{
    color: #1c1c1c;
    font-weight: 700;
    font-size: 24px;
    font-family: "Cairo", sans-serif;
    margin-bottom: 25px;
}
.checkout .col2-set .form-row-wide{
    width: 100%;
}
.checkout .col2-set .form-row-wide label{
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.checkout .woocommerce-billing-fields__field-wrapper{
    color: #1c1c1c;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
}
input[type=submit]{
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border:none;
}
.thank-you-section{
    text-align: center;
    font-size: 24px;
    color: green;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details{
    border-bottom: 1px solid #6c757d;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li{
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong{
    float: right;
}
.woocommerce-order-details{
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses .col-1,
.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses .col-2{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}
.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses .col-1{
float: left;
}
.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses .col-2{
float: right;
}
