*{
	margin: 0;
	padding: 0;

}
body{
	height: 100%;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
dl, ol, ul li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
.hide{
	display: none;
	transition: display 2s;
}
.site-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}
p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
}
img{
	max-width: 100%;
}
/*---------- header section -----------*/

.header_top {
    background: #f5f5f5;
}
.header_top_left {
    padding: 10px 0 13px;
}
.header_top_left ul li {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}
.header_top_left ul li:after {
    position: absolute;
    right: -25px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right {
    text-align: right;
    padding: 10px 0 13px;
}
.header_top_right_social {
    position: relative;
    display: inline-block;
    margin-right: 35px;
}
.header_top_right_social a {
    font-size: 14px;
    display: inline-block;
     color: #1c1c1c;
    margin-right: 20px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.header_top_right_social:after {
    position: absolute;
    right: -20px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right_language {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.header_top_right_language div {
    font-size: 14px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 4px;
}
.header_top_right_language ul {
	opacity: 0;
    background: #222222;
    width: 100px;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    left: 0;
    z-index: 9;
    transition: all, 0.3s;
}
.header_top_right_language:hover .header_top_right_langs{
	opacity: 1;
	
}
.header_top_right_language ul li {
    list-style: none;
}
.header_top_right_language ul li a {
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;

}
.header_top_right_language:after {
    position: absolute;
    right: -21px;
    top: 1px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.header_top_right_auth {
    display: inline-block;
}
.header_top_right_auth a {
    display: block;
    font-size: 14px;
    color: #1c1c1c;
    text-decoration: none;
    background-color: transparent;
}
.header_top_right_auth a i {
    margin-right: 6px;
}
.header_logo {
    padding: 15px 0;
}
.header_menu {
    padding: 24px 0;
}

.header_menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header_menu ul li:hover .nav-link {
    color: #7fad39 !important;
}
.header_menu ul li.active a {
    color: #7fad39 !important;
}
.header_menu .nav-link {
    font-size: 14px;
    color: #252525 !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
}
.header_menu .dropdown-menu{
	position: absolute;
    left: 0;
    background: #222222;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    transition: all, 0.3s;

}
.header_menu .dropdown-item{
	text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}
.header_menu .dropdown-item:hover{
	color: #7fad39;
	background: #222222;
}
.header_menu .dropdown:hover .header_menu .dropdown-menu{
    display:block;
}
/*.dropdown-toggle::after {
	border: none;
}*/
.header_cart {
    text-align: right;
    padding: 24px 0;
}
.header_cart ul {
    display: inline-block;
    margin-right: 25px;
}
.header_cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.header_cart ul li a {
    position: relative;
}
.header_cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
}
.header_cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
}
.header_cart .header_cart_price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
}
.header_cart .header_cart_price span {
    color: #252525;
    font-weight: 700;
}
/*-------- end header section ---------*/


/*---------- hero section -----------*/

.hero {
    padding-bottom: 50px;
}
.hero_categories_all {
    background: #7fad39;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}


.hero_categories_all i {
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}
.hero_categories_all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.hero_categories_all i.fa-angle-down {
    position: absolute;
    right: 18px;
    top: 14px;
    content: "";
    font-size: 18px;
    color: #ffffff;
}
.hero_categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
}
.hero_categories ul li {
    list-style: none;
}
.hero_categories ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}
.hero_categories ul li a:hover, .hero_categories ul li a:focus {
    text-decoration: none;
    outline: none;
}

.hero_search {
    overflow: hidden;
    margin-bottom: 30px;
}
.hero_search_form {
    width: 610px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
    float: left;
}
.hero_search_form form{
	display: block;
    margin-top: 0;
}
.hero_search_form form .hero_search_categories {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    padding-left: 18px;
    padding-top: 11px;
    position: relative;
}
.hero_search_form form .hero_search_categories span {
    position: absolute;
    right: 14px;
    top: 14px;
}

.hero_search_form form .hero_search_categories:after {
    position: absolute;
    right: 0;
    top: 14px;
    height: 20px;
    width: 1px;
    background: #000000;
    opacity: 0.1;
    content: "";
}
.hero_search_form form input {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}
.hero_search_form form button {
    position: absolute;
    right: 0;
    top: -1px;
    height: 50px;
}
.hero_search_phone {
    float: right;
}
.hero_search_phone_icon {
    font-size: 18px;
    color: #7fad39;
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.hero_search_phone_text {
    overflow: hidden;
}
.hero_search_phone_text h5 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
.hero_search_phone_text span {
    font-size: 14px;
    color: #6f6f6f;
}
.hero_item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    background-image: url('../img/banner.jpg');
}
.hero_text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}
.hero_text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}
/*-------- end hero section ---------*/

/*------- categories section --------*/
.categories_item {
	 position: relative;
background-repeat: no-   repeat;
background-position: top center;background-size: cover;
}
.categories_item h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}
.categories_item {
    height: 270px;
    position: relative;
}
.categories_item h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.categories_slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #1c1c1c;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
}
.categories_slider .owl-prev{
	 position: absolute;
    left: -35px;
    top: 40%;
    -webkit-transform: translateY(-35px);
}
.categories_slider .owl-next{
	position: absolute;
    right: -35px;
    top: 40%;
    -webkit-transform: translateY(-35px);
}

/*-----end categories section -------*/

/*--------featured  section --------*/

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}
.featured_controls {
    text-align: center;
    margin-bottom: 50px;
}
.featured_controls ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}
.featured_controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}
.featured_controls ul li.active:after {
    opacity: 1;
}
.featured_controls {
    text-align: center;
    margin-bottom: 50px;
}
.featured_item {
    margin-bottom: 50px;
}
.featured_item_pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}
.fresh-meat{
	background: url('../img/feature-1.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featured_item_pic_hover {
	display: none;
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    text-align: center;
    transition: all, 0.5s;
}
.featured_item_pic_hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}
.featured_item_pic_hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    text-decoration: none;
    transition: all, 0.5s;
}
.featured_item:hover .featured_item_pic_hover {
	display: block;
}
.featured_item_pic_hover li:hover  a{
    background: #7fad39;
    border-color: #7fad39;
}
.featured_item_pic_hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}
.featured_item_text {
    text-align: center;
    padding-top: 15px;
}
.featured_item_text h6 {
    margin-bottom: 10px;
}
.featured_item_text h6 a {
    color: #252525;
    text-decoration: none;
}
.featured_item_text h5 {
    color: #252525;
    font-weight: 700;
}
/*------end featured  section ------*/

/*-----latest-product  section -----*/

.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
}
.latest-product_text h4 {
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 45px;
}
.latest-product_item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
.latest-product_item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
.latest-product img {
    display: block;
    width: 110px !important;
}
.latest-product_item_text {
    overflow: hidden;
    padding-top: 10px;
}
.latest-product_item_text h6 {
    color: #252525;
    margin-bottom: 8px;
}
.latest-product_item_text span {
    font-size: 18px;
    display: block;
    color: #252525;
    font-weight: 700;
}
.latest-product_item_pic {
    float: left;
    margin-right: 26px;
}
.latest-prdouct_slider_item  a{
	text-decoration: none;
}
.latest-product{
	position: relative;
}
.latest-product .owl-nav {
	position: absolute;
    left: 350px;
    top: 80px;
}
.latest-product .owl-prev,
.latest-product .owl-next
{
	height: 30px;
    width: 30px;
    background: #F3F6FA;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #636363;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
}
/*---end latest-product  section ---*/


/*-------from-blog section ---------*/

.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}
.from-blog_title {
    margin-bottom: 70px;
}
.from-blog .blog_item {
    margin-bottom: 30px;
}
.blog_item_pic img {
    min-width: 100%;
}
.blog_item_text {
    padding-top: 25px;
}
.blog_item_text ul {
    margin-bottom: 15px;
}
.blog_item_text ul li {
    font-size: 16px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.blog_item_text h5 {
    margin-bottom: 12px;
}
.blog_item_text h5 a {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
}
.blog_item_text p {
    margin-bottom: 25px;
}
/*------end from-blog section ------*/


/*---------footer section ----------*/
.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}
.footer_about {
    margin-bottom: 30px;
}
.footer_about_logo {
    margin-bottom: 15px;
}
.footer_about_logo a {
    display: inline-block;
}
.footer_about ul li {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 36px;
    list-style: none;
}
.footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
}
.footer_widget h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer_widget ul {
    width: 50%;
    float: left;
}
.footer_widget ul li {
    list-style: none;
}
.footer_widget ul li a {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 32px;
}
.footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
}
.footer_widget h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer_widget p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}
.footer_widget form {
    position: relative;
    margin-bottom: 30px;
}
.footer_widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}
.footer_widget form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}
.footer_widget .footer_widget_social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    transition: all, 0.3s;
    margin-right: 10px;
}
.footer_widget .footer_widget_social a:hover {
    background: #7fad39;
    color: #ffffff;
    border-color: #ffffff;
}
.footer_copyright {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}
.footer_copyright_text {
    font-size: 14px;
    color: #1c1c1c;
    float: left;
    line-height: 25px;
}
.footer_copyright_payment {
    float: right;
}

/*------end footer section -------*/



/*----------Shop page -----------*/

.hero.hero-normal .hero_categories ul {
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    z-index: 9;
    background: #ffffff;
}
.hero.hero-normal {
    padding-bottom: 30px;
}
.breadcrumb-section {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
    background-image: url('../img/breadcrumb.jpg');
}
.breadcrumb_text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
}
.breadcrumb_option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
}
.breadcrumb_option a:after {
    position: absolute;
    right: -12px;
    top: 13px;
    height: 1px;
    width: 10px;
    background: #ffffff;
    content: "";
}
.breadcrumb_option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}
.product {
    padding-top: 80px;
    padding-bottom: 80px;
}
.sidebar_item {
    margin-bottom: 35px;
}
.sidebar_item h4 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}
.sidebar_item ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}
.slider-handle {
	background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6);
	height: 15px;
	width: 15px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.slider-selection {
	background-image: linear-gradient(to bottom, #dd2222, #dd2223);
	height: 5px !important;
}
.slider.slider-horizontal .slider-track {
	height: 5px;
}
.range-slider .price-input input{
	font-size: 16px;
    color: #dd2222;
    font-weight: 700;
    max-width: 20%;
    border: none;
    display: inline-block;
}
.sidebar_item_color {
	position: relative;
    float: left;
    width: 40%;
}
.sidebar_item_color label:after{
	position: absolute;
    left: -20px;
    top: 5px;
    height: 14px;
    width: 14px;
    background: #222;
    content: "";
    border-radius: 50%;
}
.sidebar_item_color label input {
    position: absolute;
    visibility: hidden;
}
.sidebar_item_color label.white:after {
    border: 2px solid #333333;
    background: transparent;
}
.sidebar_item_color label.gray:after {
	background: #E9A625;
}
.sidebar_item_color label.red:after {
	background: #D62D2D;
}
.sidebar_item_color label.black:after {
	background: #252525;
}
.sidebar_item_color label.blue:after {
	background: #249BC8;
}
.sidebar_item_color label.green:after {
	background: #3CC032;
}
.sidebar_item_size {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 10px;
}
.sidebar_item_size label {
    font-size: 12px;
    color: #6f6f6f;
    display: inline-block;
    padding: 8px 25px 6px;
    background: #f5f5f5;
    cursor: pointer;
    margin-bottom: 0;
}
.sidebar_item_size label input {
    position: absolute;
    visibility: hidden;
}

.sidebar_item .latest-product_text {
    position: relative;
}
.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
.latest-product__item__pic {
    float: left;
    margin-right: 26px;
}
.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;
}
.latest-product__item__text h6 {
	font-size: 16px;
    color: #252525;
    margin-bottom: 8px;
}
.latest-product__item__text span {
    font-size: 18px;
    display: block;
    color: #252525;
    font-weight: 700;
}

 .latest-product_text .owl-nav{
    position: absolute;
    right: 0;
    top: 0;
 }
.latest-product_text .owl-nav .owl-prev{
    height: 30px;
    width: 30px;
    background: #F3F6FA;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #636363;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
}
.latest-product_text .owl-nav .owl-next{
    height: 30px;
    width: 30px;
    background: #F3F6FA;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #636363;
    line-height: 30px;
    text-align: center;
}
.filter_item {
    padding-top: 45px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
}
/*--------End Shop page ---------*/
